body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #43799c;
  color: white;
  padding-top: 10px;
}
.page-title {
  margin-left: 420px;
  margin-right: 420px;
  width: 840px;
}
.header-info {
  margin-top: 0;
}
.main-page-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 37px;
  margin-top: 0;
  margin-bottom: 0;
}
.search-sort-div-p {
  margin-top: 10px;
  background-color: #f7f7f7;
}
.search-sort-div {
  margin-top: 0;
  margin-left: 420px;
  margin-right: 420px;
  display: flex;
  padding: 10px;
}
#searchBar {
  height: 30px;
  border: none;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 15px;
}
#select {
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 32.5px;
  border: none;
}

.main-content {
  margin-top: 30px;
  margin-left: 420px;
  margin-right: 420px;
  align-items: center;
  justify-content: center;
}
.main-content div {
  padding: 15px;
  background-color: #f7f7f7;
  width: 810px;
  height: 60px;
  margin-bottom: 30px;
}
.main-content p {
  margin: 0;
  width: fit-content;
}
.controls {
  width: fit-content;
  margin-left: 420px;
  margin-right: 420px;
}
#createBTN {
  padding: 8px;
  border: none;
  border-radius: 2px;
  background-color: #43799c;

  color: white;
  font-size: 15px;
  font-weight: 500;
}
